/* Global Links */
a {
	text-decoration: none;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

/* Top Navigation */
.top-nav {
	float: right; 
}

.top-nav a:hover {
	color: green;
}

/* Main Navigation */
.main-nav ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main-nav ul li { display: inline; }

.main-nav ul li a
{
	text-decoration: none;
	padding: .3em;
}

.main-nav ul li a:hover {}

.main-nav #active {	font-weight: bold; }
