<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="description" content="Some Content">
	<meta name="author" content="Pete Maynard">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<link rel="stylesheet" href="/stylesheets/icon-fnt.css">
	<link rel="stylesheet" href="/stylesheets/simple.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

	<div class="container">
	<small style="text-align: right;">
		pgm987-at-gmail.com 
		<a target="_BLANK" href="http://orcid.org/0000-0002-6267-7530">0000-0002-6267-7530</a><br />
		<a target="_BLANK" href="https://github.com/PMaynard">GitHub</a>
		<a target="_BLANK" href="https://twitter.com/pgmaynard">Twitter</a>
		<a target="_BLANK" href="http://pgp.mit.edu/pks/lookup?op=vindex&search=0x248FC016ABB8D69D" title="0xABB8D69D">PGP Key</a>
	 </small>
		<!-- Header -->
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px">Pete Maynard</h1>
			<hr />
		</div>
		<!-- Content -->
		{{ content }}
	<div>
</body>
</html>
