<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Peter Maynard's personal site.">
    <meta name="author" content="Peter Maynard">
    <link rel="icon" href="favicon.ico">

    <title>Peter Maynard.</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
       <div class="navbar-header">
        <a class="navbar-brand" href="/">Pete</a>
       </div>
        <ul class="nav navbar-nav pull-right">
          <li><a href="https://twitter.com/pgmaynard">Twitter</a></li>
          <li><a href="https://github.com/PMaynard">GitHub</a></li>
          <li><a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0x248FC016ABB8D69D">GPG</a></li>
          <li><a href="https://orcid.org/0000-0002-6267-7530">ORCID</a></li>
          <li><a href="contact"><b>Contact / Keys</b></a></li>
        </ul>
      </div>
    </nav>
    <div class="container">

      {{ content }}

    </div> 
  </body>
</html>
